In [64]:
import requests
params = {"query": "P00750", "format": "fasta", "include": "No"}
response = requests.get("http://www.uniprot.org/uniprot/", params=params)
print (response.text)

>UniRef100_P00750 Tissue-type plasminogen activator n=3 Tax=Homo sapiens TaxID=9606 RepID=TPA_HUMAN
MDAMKRGLCCVLLLCGAVFVSPSQEIHARFRRGARSYQVICRDEKTQMIYQQHQSWLRPV
LRSNRVEYCWCNSGRAQCHSVPVKSCSEPRCFNGGTCQQALYFSDFVCQCPEGFAGKCCE
IDTRATCYEDQGISYRGTWSTAESGAECTNWNSSALAQKPYSGRRPDAIRLGLGNHNYCR
NPDRDSKPWCYVFKAGKYSSEFCSTPACSEGNSDCYFGNGSAYRGTHSLTESGASCLPWN
SMILIGKVYTAQNPSAQALGLGKHNYCRNPDGDAKPWCHVLKNRRLTWEYCDVPSCSTCG
LRQYSQPQFRIKGGLFADIASHPWQAAIFAKHRRSPGERFLCGGILISSCWILSAAHCFQ
ERFPPHHLTVILGRTYRVVPGEEEQKFEVEKYIVHKEFDDDTYDNDIALLQLKSDSSRCA
QESSVVRTVCLPPADLQLPDWTECELSGYGKHEALSPFYSERLKEAHVRLYPSSRCTSQH
LLNRTVTDNMLCAGDTRSGGPQANLHDACQGDSGGPLVCLNDGRMTLVGIISWGLGCGQK
DVPGVYTKVTNYLDWIRDNMRP
>UniRef50_P00750 Tissue-type plasminogen activator n=337 Tax=Gnathostomata TaxID=7776 RepID=TPA_HUMAN
MDAMKRGLCCVLLLCGAVFVSPSQEIHARFRRGARSYQVICRDEKTQMIYQQHQSWLRPV
LRSNRVEYCWCNSGRAQCHSVPVKSCSEPRCFNGGTCQQALYFSDFVCQCPEGFAGKCCE
IDTRATCYEDQGISYRGTWSTAESGAECTNWNSSALAQKPYSGRRPDAIRLGLGNHNYCR
NPDRDSKPWCYVFKAGKYSSEFCSTPACSEGNSDCYFGNGSAYRGTHSLTESGASCLPWN
SMILIGKVYTAQNPSAQALGLGKHNYCRNPDGDAKPWCHVLKNRRLTWEYCDVPSCSTCG
LRQYSQPQFRIKGGLFADIASHPWQAAIFAKHRRSPGERFLCGGILISSCWILSAAHCFQ
ERFPPHHLTVILGRTYRVVPGEEEQKFEVEKYIVHKEFDDDTYDNDIALLQLKSDSSRCA
QESSVVRTVCLPPADLQLPDWTECELSGYGKHEALSPFYSERLKEAHVRLYPSSRCTSQH
LLNRTVTDNMLCAGDTRSGGPQANLHDACQGDSGGPLVCLNDGRMTLVGIISWGLGCGQK
DVPGVYTKVTNYLDWIRDNMRP
>UniRef90_P00750 Tissue-type plasminogen activator n=40 Tax=Simiiformes TaxID=314293 RepID=TPA_HUMAN
MDAMKRGLCCVLLLCGAVFVSPSQEIHARFRRGARSYQVICRDEKTQMIYQQHQSWLRPV
LRSNRVEYCWCNSGRAQCHSVPVKSCSEPRCFNGGTCQQALYFSDFVCQCPEGFAGKCCE
IDTRATCYEDQGISYRGTWSTAESGAECTNWNSSALAQKPYSGRRPDAIRLGLGNHNYCR
NPDRDSKPWCYVFKAGKYSSEFCSTPACSEGNSDCYFGNGSAYRGTHSLTESGASCLPWN
SMILIGKVYTAQNPSAQALGLGKHNYCRNPDGDAKPWCHVLKNRRLTWEYCDVPSCSTCG
LRQYSQPQFRIKGGLFADIASHPWQAAIFAKHRRSPGERFLCGGILISSCWILSAAHCFQ
ERFPPHHLTVILGRTYRVVPGEEEQKFEVEKYIVHKEFDDDTYDNDIALLQLKSDSSRCA
QESSVVRTVCLPPADLQLPDWTECELSGYGKHEALSPFYSERLKEAHVRLYPSSRCTSQH
LLNRTVTDNMLCAGDTRSGGPQANLHDACQGDSGGPLVCLNDGRMTLVGIISWGLGCGQK
DVPGVYTKVTNYLDWIRDNMRP

In [72]:
import pandas as pd
a= pd.read_csv("/Users/dilrajkaur/Desktop/CHDP/dataset/Cathelicidin/uniref.list.csv",header=None)

In [ ]:
df=pd.DataFrame()
import time
i=[]
for k in a.iloc[65:,0]:
    params = {"query": str(k), "format": "fasta", "include": "No"}
    response = requests.get("https://www.uniprot.org/uniref/", params=params)
    #print (response.text)
    i.append(response.text.split('\n')[0])
    i.append(''.join(response.text.split('\n')[1:]))
    time.sleep(3)
    print(k)

df['uniprot_seqs']=i

A0A0A7NSI0
A0A0A7NM18
S9XBT5
S9XMK0
Q0PMA2
B9UKL9
A0A1S3UUW6
A0A5B7D6B6
A0A4C2A616
A0A6P5DNN5
A0A6P5DN21
A0A4Z1NIT3
P33046
A0A3Q1LRG2
A0A0A7NM38
P50415
A0A0A7NM44
V9LYN7
A0A6J0ZCZ2
A0A0A7NSI4
A0A0A7NP06
A0A0A7NM00
A0A0A7NLZ5
M1R993
A0A0A7NNZ5
A0A0A7NM21
A0A0A7NSG2
A0A0A7NLY8
A0A0A7NM07
A0A0A7NSG7
A0A0A7NM12
A0A097ITJ7
A0A210Q3L1
A0A6P5DRM0
L8HPZ1
B9UKM4
A0A6P3JB74
W0S8U1
A0A0A7NM27
B9TUC9
A0A0A7UZN3
A0A6P3J9G1
A0A6P3J7T2
A0A3R7QH91
W5NUP9
A0A6P3IH59
A0A0D3MJH6
A0A0D3MJW1
UPI0007777560
A0A0A7NNZ8
A0A0A7NNZ0
A0A0A7NSG9
A0A0A7NM42
A0A1Q9F313
A0A0A7NSH2
A0A097ITJ8
I1T028

In [77]:
i1=i

In [47]:
i2=i

In [83]:
a.iloc[64,0]

'A0A0A7UXB6'

In [53]:
i3=i

In [55]:
len(i1+i2+i3)

1042

In [57]:
df=pd.DataFrame()

In [59]:
df['uniprot_seqs']=i1+i2+i3

In [61]:
df.to_csv('/Users/dilrajkaur/Desktop/CHDP/dataset/trembl-uniprot.csv')

In [81]:
len(i1)/2

65.0

In [68]:
a.shape

(1404, 1)

In [73]:
a

               0
0         Q683R8
1         Q0MX34
2         B8R7Q8
3     A0A482CYG9
4         X5I0G0
...          ...
1398  A0A250YAY5
1399      P26202
1400      Q9LV56
1401  A0A151NYA0
1402      Q96Q77

[1403 rows x 1 columns]